/* -------------------navbar-------------------------*/

.mulish{
    font-family: 'Mulish', sans-serif
}

.montessrat{
    font-family: 'Montserrat Alternates', sans-serif;
}

.alegreya{
    font-family: 'Alegreya Sans SC', sans-serif;
}



/* -------------------tables-------------------------*/

.comforta{
    font-family: 'Comfortaa', cursive;
}
.m_plus{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.overpas{
    font-family: 'Overpass', sans-serif;
}
